/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$font-family: "Atkinson Hyperlegible", sans-serif;
$web-font-path: "No";
/*$green: #5a792c !default;
$blue: #2f5881 !default;
*/

$blue:    #435373 !default;
$indigo:  #A782C3 !default;
$purple:  #C279AD !default;
$pink:    #e83e8c !default;
$red:     #C87A8A !default;
$orange:  #BC8463 !default;
$yellow:  #A29048 !default;
$green:   #337b55 !default;
$teal:    #00A396 !default;
$cyan:    #2A9EB5 !default;

$navbar-fg: #b9c8d6;

/*-- scss:rules --*/


